<div class="container">
<div class="row">
<p id="notice"><%= notice %></p>

<div class="col-md-2">
  <h3>Find a pup</h3></br>
  <div class="">
    <!--Breed Tag  -->
      <%= form_tag(puppies_path, :method => "get", id:"search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "find a pup" %>
      <%= submit_tag "Search" %>
      <% end %>
  </div>

</div>

<div class="col-md-10">
    <div class="row center">
      <p><h1>AVAILABLE DOGS<h1></p>
      </br>
    </div>
    <div class="row center">
    <% @puppies.each do |puppy| %>
      <div class="col-md-5">
      <div class="card">
      <%= link_to image_tag(puppy.image_url), puppy_path(puppy.id) %>
      <div class="card-body">
        <h4 class="card-title center"><%= puppy.name %></h4>
        <p class="text-black center">
          Age: <%= puppy.age %>
          </br>
          Gender: <%= puppy.gender %>
          </br>
          Breed: <%= puppy.breed %>
          </br></br>
          <a href="#" class="btn center">ENQUIRE</a>
          </br>
      </div>
      </div>
      </div>
    <% end %>
    </div>

          <!-- <td><#%= link_to "favorite",   favorite_puppy_path(@puppy, type: "favorite"), method: :put %></td>
          <td><#%= link_to "unfavorite", favorite_puppy_path(@puppy, type: "unfavorite"), method: :put %></td> -->
          <%#= link_to 'Edit', edit_puppy_path(puppy) %>
          <%#= link_to 'Destroy', puppy, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>

</div>
</div>

<%= link_to 'New Puppy', new_puppy_path %>
