<div class="container">
<div class="row center">
<h2 class="center"> DOG PROFILE </h2>
<div><%= image_tag @puppy.image_url, class: 'profile' %></div>
</br>
</div>
<div class="row center text-black">
  <strong>Name:</strong>
  <%= @puppy.name %>
</div>
<div class="row center text-black">
  <strong>Age: </strong>
  <%= @puppy.age %></p>
</div>
<div class="row center text-black">
  <strong>Breed:</strong>
  <%= @puppy.breed %>
</div>
<div class="row center text-black">
  <strong>Size:</strong>
  <%= @puppy.size %>
</div>
<div class="row center text-black">
  <strong>Gender:</strong>
  <%= @puppy.gender %>
</div>
<div class="row center text-black">
  <strong>Bio:</strong>
  <%= @puppy.bio %>
</div>
<div class="row center text-black">
  <strong>Desexed:</strong>
  <%= @puppy.desexed %>
</div>
<div class="row center text-black">
  <strong>Vaccinated:</strong>
  <%= @puppy.vaccinated %>
</div>
<div class="row center text-black">
  <strong>Adoption fee:</strong>
  $<%= @puppy.adoption_fee %>
</div>

<%= link_to 'Edit', edit_puppy_path(@puppy) %> |
<%= link_to 'Back', puppies_path %>
</div>
