<div class="container">
  <div class="row center">
    </br><div><%= image_tag @puppy.image_url, class: 'profile' %></div></br>
  </div>
</div>
<section class="flex-wrapper">
<div class="wrap_left">
  <h1 class="puppyname">
  <%= @puppy.name %>
  </h1>
<div><p><%= @puppy.bio %></p></div>
<h2>Adoption Details</h2>
<div>
<p>Please Contact: Pawesome through the link below </p>

<%= button_to "ENQUIRE", enquire_path, method: :get, class: "btn" %>

<p>For more information about the Pawesome Adoption program visit <a target="_blank" href="https://github.com/Travz08/hackathon-term2">https://github.com/Travz08/hackathon-term2</a></p>
</div>
</div>
<div class="wrap_right">
<dl>
<dt>Location:</dt>
<dd>New South Wales</dd>
</dl>

<dl>
<dt>Age:</dt>
<dd><%= @puppy.age %></dd>
<dt>Gender:</dt>
<dd><%= @puppy.gender %></dd>
<dt>Breed:</dt>
<dd><%= @puppy.breed %></dd>
<dt>Size:</dt>
<dd><%= @puppy.size %></dd>
<dt>Adoption fee:</dt>
<dd>$<%= @puppy.adoption_fee %></dd>
<dt>Desexed:</dt>
<dd><% if @puppy.desexed == true %>Yes<% else %>No<% end %></dd>
<dt>Vaccinated:</dt>
<dd><% if @puppy.vaccinated == true %>Yes<% else %>No<% end %></dd>
</dl>

</div>
</section>
<%= link_to 'Back', puppies_path, class: "btn" %>

<% if current_user.present? && current_user.email == 'admin@pawesome.com' %>
    <%= link_to 'Edit', edit_puppy_path(@puppy), class: "btn" %>
    <%= link_to 'Destroy', @puppy, method: :delete, class: "btn", data: { confirm: 'Are you sure?' } %>
<% else %>
<% end %>
