<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <%= render 'devise/login' %>
  </li>
  <li class="nav-item">
    <%= render 'devise/signup' %>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
<nav class="navbar sticky-top navbar-expand-lg">

  <div class="container-fluid">
  <%= image_tag('logo.png', class: 'logo img-fluid') %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Note to Travis: this nav bar is set so that when you are not logged in, it shows the Login/Sign Up links. When you are logged in, it will show the heart symbol, the inbox symbol, and the profile and logout symbol. Feel free to replace with yours - maybe keep the navbar formatting though -->

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class= "nav-item"><%= link_to "About", about_path, class: 'text-black nav-link' %></li>
      <li class= "nav-item"><%= link_to "Browse Dogs", puppies_path, class: 'text-black nav-link' %></li>
      <li class= "nav-item"><%= link_to "Contact", contact_path, class: 'text-black nav-link' %></li>
    </ul>
    <% if (!user_signed_in?) %>
      <ul class="navbar-nav ml-auto">
        <div>
        <%= link_to "Login", new_user_session_path, class: 'text-black' %> /
        <%= link_to "Sign Up", new_user_registration_path, class: 'text-black' %>
        </ul>
        </div>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <li><%= link_to image_tag('heart.svg'), favourite_puppy_path %></li>
        <li><%= link_to image_tag('inbox.svg'), message_path %></li>
        <li><%= link_to image_tag('profile.svg'), edit_user_registration_path %></li>
        <li><%= link_to image_tag('logout.svg'), destroy_user_session_path, method: :delete %></li>
          </ul>
        </ul>
    <% end %>
  </div>
</div>
</nav>
