
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <%= render 'devise/login' %>
  </li>
  <li class="nav-item">
    <%= render 'devise/signup' %>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
  <%= image_tag('logo.png', class: 'logo') %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <% if (!user_signed_in?) %>
    <ul class="navbar-nav mr-auto">
      <!-- <div class="text-black"> -->
      <li class= "nav-item"><%= link_to "About", about_path, class: 'text-black nav-link' %></li>
      <li class= "nav-item"><%= link_to "Browse Dogs", puppies_path, class: 'text-black nav-link' %></li>
      <li class= "nav-item"><%= link_to "Contact", contact_path, class: 'text-black nav-link' %></li>
    </ul>
      </div>
      <ul class="navbar-nav ml-auto">
        <div class="text-black">
        <%= link_to "Login", new_user_session_path, class: 'text-black' %>
        &nbsp; / &nbsp;
        <%= link_to "Sign Up", new_user_registration_path, class: 'text-black' %>
        </ul>
        </div>
    <% else %>
        <ul class="dropdown ml-auto">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-haspopup="true" aria-expanded="false">
                <%= current_user.username %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu ml-auto">
            <li><%= link_to "Manage Your Appointments" %></li>
            <li><%= link_to "View Previous Appointments" %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </ul>
    <% end %>
  </div>
</div>
</nav>
